@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tab-active {
  background-color: #ec4899; /* Pink */
  color: #ffffff;
  border-color: #ec4899;
}

.tab-inactive {
  background-color: #fce7f3; /* Light Pink */
  color: #be185d; /* Dark Pink */
  border-color: #fbcfe8; /* Lighter Pink */
}
